# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.sqlite3
*.log
staticfiles/
media/

# Virtualenv
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Railway
.env

# Misc
*.bak
*.tmp

# Node
node_modules/

# Procfile
Procfile
